.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  padding: 100px 0 0 0;
}
.vehicle {
  margin: 20px;
  padding: 20px;
  background-color: #eee;
}

.navbar {
  margin: 20px;
  padding: 20px;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar a {
  margin: 20px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.profile-left {
  float: left;
  font-size: large;
  text-align: left;
  margin-left: 50px;
}

.searchP {
  float: "left";
  marginLeft: "50px";
  marginTop: "20px";
  position: "fixed";
}

.vehicle-card {
  max-width: 600px;
  margin: 20px;
}

.vehicles {
    text-align: center;
    display: inline-block;
}
