.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  padding: 100px 0 0 0;
}

.imgVehicleTable {
  float: left;
  width: 45%;
  padding: 5px;
  min-width: 280px;
}

.navbar a {
  text-decoration: none;
  font-size: large;
}

.navbar-top {
  display: block;
}

.navbar-left {
  display: none;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .navbar-top {
    display: none;
  }

  .navbar-left {
    display: block;
    position: absolute;
    min-width: 600px;
  }
}

.profile-left {
  float: left;
  font-size: large;
  text-align: left;
  margin-left: 50px;
}

.vehicle {
  margin: 20px;
  padding: 20px;
  background-color: #eee;
}

.vehicleInfo {
  position: absolute;
  min-width: 600px;
}

.vehicleTable {
  max-width: 50%;
  padding: 5px;
  float: right;
  min-width: 280px;
}


.vehicle-card {
  max-width: 600px;
  margin: 20px;
}

.vehicles {
    text-align: center;
    display: inline-block;
}
