.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100%;
}

html, body, #root { height: 100%; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.aboutContent {
  margin: 0 200px;
  text-align: center;

}

.btn {
  padding: 100px 0 0 0;
}

.contacts {
  float: left;
  text-align: left;
  margin-left: 50px;
  font-size: large;
}

.editProfile {
  float: left;
  padding: 20px;
  width: 350px;
  min-width: 400px;
  text-align: left;
}


.navbar a {
  text-decoration: none;
  font-size: large;
}

.navbar-top {
  display: block;
}

.navbar-left {
  display: none;
}

@media screen and (max-width: 650px) {
  .navbar-top {
    display: none;
  }

  .navbar-left {
    display: block;
  }
}

.item-desktop {
  display: block;
}

.item-mobile  {
  display: none;
}

@media screen and (max-width: 650px) {
  .item-desktop  {
    display: none;
  }

  .item-mobile {
    display: block;
  }
}

.usersList {
  padding: 20px;
  margin: 50px;
  position: relative;
}

.profile {
  float: left;
  font-size: large;
  text-align: left;
  margin-left: 50px;
  min-width: 290px;
}

.searchPanel {
  float: left;
  margin-left: 50px;
  margin-top: -10px;
  min-width: 250px;
  position: fixed;
}

.searchPanelItem {
    margin-top: 5px;
    padding: 10px;
    border: 5px solid rgb(0, 188, 212); 
    border-radius: 8px;
    z-index: 9000;
}

.searchPanelSelect {
    margin-top: -20px;
}

.vehicle {
  margin: 20px;
  padding: 20px;
  background-color: #eee;
}

.vehicle-card {
  max-width: 600px;
  margin: 20px;
}

.vehicles {
    text-align: center;
    display: inline-block;
}

.card-vehicle-order {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-vehicle-page {
  margin: 20px auto;
}

.content {
 flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
